@media (max-width: 425px){
    .main_conteiner{
        display: flex;
        flex-direction: column;
        width: 25em;
    }
    .first_conteiner{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .second_conteiner{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 320px) {
    .main_conteiner{
        display: flex;
        flex-direction: column;
        width: 20em;
    }
}